@page "~/categorias/{skip?}/{take?}"
@model RazorPages.Pages.CategoriesModel
@{
    // ViewData["Title"] = ViewData["Titulo"];
}

<div class="text-center">
    <h1 class="display-4">Categories</h1>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Price.ToString(format: "C")</td>
                </tr>
            }

        </tbody>
    </table>
</div>

